@model BlogPlatform.Models.Post
@inject IImageService imageService
@inject UserManager<BlogUser> userManager;

@{
    ViewData["Title"] = "Details";
}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="row">
        <div class="col text-center h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-sm btn-warning btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)
            @Html.Hidden("Slug", Model.Slug)

            <div class="form-group">
                <label class="h2 form-control">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-sm w-100">Submit</button>
        </form>
    }
    else
    {
        <a class="btn btn-sm w-100 btn-dark" asp-area="Identity" asp-page="/Account/Login">
            Login to Add Comments
        </a>
    }
</div>

<hr />

<span id="commentSection" class="btn btn-sm btn-dark fw-bold w-100">@Model.Comments.Count COMMENT(S)</span>

@foreach (var comment in Model.Comments)
{
    <div class="border p-2 mb-2 bg-light d-flex d-block">
        <img class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
        <div>
            <h4>@comment.BlogUser.FullName</h4>
            <small>
                @if (comment.Moderated is not null)
                {
                    <span class="small">
                        <span class="fw-bolder">
                            Moderated <span class="text-danger fst-italic">(@comment.ModerationType.ToString().ToLower())</span>
                        </span>
                        : @comment.Moderated?.ToString("MMM dd, yyy")
                    </span>
                }
                else
                {
                    <i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i>
                }
            </small>
            <p>@((@comment.Moderated == null) ? @comment.Body : @comment.ModeratedBody)</p>

            <hr />
            <div class="d-flex">

                @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
                {
                    <button data-bs-toggle="modal" data-bs-target="#editModal-@comment.Id" class="btn-sm btn-dark fw-bold me-2">EDIT</button>
                }

                @if (User.IsInRole(BlogRole.Moderator.ToString()) && comment.Deleted is null)
                {
                    <button class="btn-sm btn-dark fw-bold me-2" data-bs-toggle="modal" data-bs-target="#moderateModal-@comment.Id">MODERATE</button>
                    <div>
                        <form asp-action="Delete" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            @Html.Hidden("Slug", comment.Post.Slug)
                            <button type="submit" class="btn-sm btn-dark fw-bold">DELETE</button>
                        </form>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal" id="editModal-@comment.Id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Comment</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)

                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>
                        <button class="btn-sm btn-dark" type="submit">Submit</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="moderateModal-@comment.Id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Moderate Comment</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="Moderate" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Body", comment.Body)

                        <div class="form-group">
                            <label class="form-control">Original Comment</label>
                            <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-control">Moderated Comment</label>
                            <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-control">Reason for Moderaation</label>
                            <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList(typeof(ModerationType))"></select>
                        </div>

                        <button class="btn-sm btn-dark" type="submit">Submit</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}